body {
    display: grid;
    grid-template-columns: 1fr 300px 20px 300px 20px  300px 1fr;
    grid-template-rows: 200px 20px 200px 20px 200px 20px;
    background-color: rgb(127, 168, 168);
}

.header-left {
        display: grid;
        grid-column: 2/4;
        grid-row: 1/2;
        width: 100%;
        text-align: center;
}
.header-center {
        display: grid;
        grid-column:  ;
        grid-row:  ;
        width: 100%;
        text-align: center;
}
.header-right {
        display: grid;
        grid-column:  ;
        grid-row:  ;
        width: 100%;
        text-align: center;
}




 main {
 

}
 div p {
    
}

 footer {
    
}